@inherits LayoutComponentBase

<PageTitle>RegionSyd.Web</PageTitle>

<div class="page">

    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
       @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
*@
<div class="container-fluid bg-light p-4 mb-4" style="border-bottom: 3px solid #6b8f00">
    <div class="row">
        <div class="col-2">
            <img src="/images/RegionSydLogoWeb.png" style="width:75%" />
        </div>
    </div>
</div>
            @Body
        @*<article class="content px-4">
        </article>*@
    </main>
</div>
