<div class="container-fluid pt-4" style="background-color:white">
    <div class="row">
        <div class="col-2">
            <img src="/images/RegionSydLogoWeb.png" style="width:70%" />
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:white">
    <div class="row justify-content-center">

        <div class="col-2 text-center">
            @if (CurrentUser != null)
            {

                @if (CurrentUser.Usertype == Common.Enums.UserTypes.Patient)
                {
                    <NavLink class="nav-link p-0" href="mine-oplysninger">
                        <div class="w-100 navlink-fane">
                            <span>Mine oplysninger</span>
                        </div>
                    </NavLink>
                }
                else if (CurrentUser.Usertype == Common.Enums.UserTypes.Employee)
                {
                    <NavLink class="nav-link p-0" href="soeg-journal">
                        <div class="w-100 navlink-fane">
                            <span>Find patient journal</span>
                        </div>
                    </NavLink>
                }
            }

        </div>
        <div class="col-2 text-center">
            <NavLink class="nav-link p-0" href="booking">
                <div class="w-100 navlink-fane">
                    <span>Booking</span>
                </div>
            </NavLink>
        </div>
        <div class="col-2 text-center">
            <NavLink class="nav-link p-0" href="Journal">
                <div class="w-100 navlink-fane">
                    <span>Journal</span>
                </div>
            </NavLink>
        </div>
    </div>
</div>
<div class="container-fluid mb-5" style="background: linear-gradient(90deg,transparent 0%,#6b8f00 25%,#6b8f00 75%, transparent 100%);
    height: 4px;
    opacity: 1;">
</div>

@code {
    CurrentUser CurrentUser { get; set; }
    protected async override Task OnInitializedAsync()
    {
        CurrentUser = await GetCurrentUserAsync();
    }

    public async Task<CurrentUser> GetCurrentUserAsync()
    {
        return await localStorage.GetItemAsync<CurrentUser>(SessionConstants.CurrentUser);
    }


}