@page "/"

<style>
    
    body{
            background-color: #e8ebec;
    }

</style>

<div class="container-fluid pb-4">
    <div class="row justify-content-center">
        <h5 class="text-center pb-2" style="color:#6b747c">Region Syds Sundhedsportal login</h5>
        <div class="col-sm-6 col-md-1 col-lg-1">
            <input class="btn btn-green p-1 w-100" type="button" value="Borger" @onclick=PatientLogin />
        </div>
        <div class="col-sm-6 col-md-1 col-lg-1">
            <input class="btn btn-green p-1 w-100" type="button" value="Fagperson" @onclick=EmployeeLogin />
        </div>
    </div>
</div>
<div class="banner"></div>
<div class="container-fluid w-75"> 
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="index-box">
                <img class="mx-auto d-table health-icon" src="/images/index/ikon_1.svg" />
                <hr />
                <h5>Corona</h5>
                <p>Patient- og pårørendeinformation om COVID-19, herunder nærmeste teststed og hvordan du kan blive testet eller vaccineret som borger i Region Syddanmark.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="index-box">
                <img class="mx-auto d-table health-icon" src="/images/index/ikon_2.svg" />
                 <hr />
                <h5>Book blodprøver digitalt</h5>
                <p>Find oplysninger om, hvordan du kan bestille eller ændre din tid til blodprøvetagning. </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="index-box">
                <img class="mx-auto d-table health-icon" src="/images/index/ikon_3.svg" />
                 <hr />
                <h5>Akuthjælp</h5>
                <p>Har du brug for akuthjælp i forbindelse med skader eller for at finde oplysninger om nærmeste vagtapotek, kan du læse mere i nedenstående.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="index-box">
                <img class="mx-auto d-table health-icon" src="/images/index/ikon_4.svg" />
                 <hr />
                <h5>Patientrettigheder</h5>
                <p>Har du brug for vejledning om dine patientrettigheder, som f.eks. hvornår du har mulighed for at få godtgørelse for transport til og fra sygehuset, eller hjælp til refusion af behandling i udlandet. </p>
            </div>
        </div>

    </div>
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="index-box">
                <img class="mx-auto d-table health-icon" src="/images/index/ikon_5.svg" />
                 <hr />
                <h5>Søg en forurenet grund</h5>
                <p>Søg oplysninger om jordforureningssager i hele regionen. Her får du de samme oplysninger, som hvis du skriver eller ringer til os.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="index-box">
                <img class="mx-auto d-table health-icon" src="/images/index/ikon_6.svg" />
                 <hr />
                <h5>Kontakt</h5>
                <p>Find generelle kontaktoplysninger herunder hjælp til at finde vej til bestemte afdelinger på sygehusene, socialområdet og den generelle administration. </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="index-box">
                <img class="mx-auto d-table health-icon" src="/images/index/ikon_7.svg" />
                 <hr />
                <h5>Den Regionale Visitation</h5>
                <p>Ønsker du en hurtigere tid til udredning, undersøgelse eller behandling end den, du allerede er blevet tilbudt på et sygehus, kan du kontakte Den Regionale Visitation. Find kontaktformular på siden. </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="index-box">
                <img class="mx-auto d-table health-icon" src="/images/index/ikon_8.svg" />
                 <hr />
                <h5>Patientkontoret - hjælp til patienter</h5>
                <p>Hvis du som patient eller pårørende har brug for information, vejledning og rådgivning i forhold til sundhedssystemet, kan du kontakte en patientvejleder i Patientkontoret.</p>
            </div>
        </div>

    </div>
</div>


@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void PatientLogin()
    {

    }

    public void EmployeeLogin()
    {

    }
}
