@page "/mine-oplysninger"
@using RegionSyd.Common.DTOs
@using RegionSyd.Web.Models
@using RegionSyd.Web.Services.Interfaces
@inject IPatientService _PatientService

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            @if (Patient != null)
            {
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@Helpers.FullNameHelper.GetFullName(Patient.FirstName, Patient.MiddleName, Patient.LastName)</h5>
                        <p>@Helpers.CprHelper.HideLastDigits(Patient.Cpr)</p>
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control mb-2" @bind="Patient.Address" disabled />
                        <div class="row">
                            <div class="col-6">
                                <input type="number" class="form-control mb-2" @bind="Patient.ZipCode" disabled />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control mb-2" @bind="Patient.CityName" disabled />
                            </div>
                        </div>
                        <input type="tel" class="form-control mb-2" @bind="Patient.Phone" />
                        <input type="email" class="form-control" @bind="Patient.Email" />
                    </div>
                    <div class="card-footer">
                        <input type="button" class="btn btn-green float-end m-1" value="Gem" />
                        <input type="button" class="btn btn-outline-secondary float-end m-1" value="Annuller" />
                    </div>
                </div>
            }
            else
            {
                <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Success" class="w-50 mx-auto mt-5" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
            }
        </div>
    </div>
</div>

@code {
    PatientDTO Patient { get; set; }

    protected async override void OnInitialized()
    {
        var currentUser = await localStorage.GetItemAsync<CurrentUser>("currentUser");
        Patient = await _PatientService.GetById(currentUser.Id);
        StateHasChanged();
    }
}
