@page "/mine-oplysninger"

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <p class="card-title"></p>
                </div>
                <div class="card-body">


                </div>
                <div class="card-footer">
                    <input type="button" class="btn btn-outline-secondary" value="Annuller" />
                    <input type="button" class="btn btn-green" value="Gem" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
